:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --secondary-color: #757575;
}
*,
html,
body {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 1600px;
  font-family: var(--main-font);
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.header .cointaner .navigation-logo {
  margin-right: 93px;
  margin-left: 215px;
}

.header .cointaner {
  width: 1600px;
  height: 80px;
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}

.contact-list {
  display: flex;
  list-style-type: none;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
  text-decoration: none;
}

.contact-list {
  margin-left: auto;
  margin-right: 215px;
}
/*    HEADER         */

.navigation-logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.header .navigation-logo:before {
  content: "Web";
  color: var(--main-color);
}

.header .navigation-logo:after {
  content: "Studio";
  color: #212121;
}

.footer .navigation-logo:before {
  content: "Web";
  color: var(--main-color);
}

.footer .navigation-logo:after {
  content: "Studio";
  color: #ffffff;
}

.navigation-list-item-link,
.contact-list-item-link,
.information-list-item-spanup {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.contact-list-item-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.navigation-list-item-link {
  text-decoration: none;
}

/*   END HEADER        */

/*     SECTION 1 MAIN PAGE          */

.section1 .cointaner {
  height: 600px;
}

.section1 {
  background-color: #2f303a;
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  color: #ffffff;
}

.buttonorder {
  background-color: #2196f3;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

/*   END  SECTION 1 MAIN PAGE         */

/*    SECTION 2 MAIN PAGE    */

.section2 .cointaner {
  height: 770px;
}

.information-list {
  display: flex;
  justify-content: center;
}

.information-list-item:not(:last-child) {
  margin-right: 30px;
}

.information-list-item-spandown {
  margin-top: 10px;
  width: 270px;
}

.images2-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.images2-list-item:not(:last-child) {
  margin-right: 30px;
}

.section2 .cointaner .h2 {
  margin-bottom: 50px;
  margin-top: 100px;
}

.information-list-item-spanup {
  margin-top: 94px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer .navigation-logo {
  color: black;
}

.information-list-item-spandown,
.address-list-item-link,
.address-list-item-link1 {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.714;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*    END SECTION 2 MAIN PAGE    */

/*     SECTION 3 MAIN PAGE    */

.section3 {
  background-color: #f5f4fa;
}

.section3 .cointaner {
  height: 648px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-color {
  background-color: #ffffff;
  height: 108px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.section3 .cointaner .h2 {
  padding-top: 94px;
  padding-bottom: 50px;
}

.h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.profession {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
}

/*    END SECTION 3 MAIN PAGE    */

/*   FOOTER    */

.footer {
  background-color: #2f303a;
}

.footer .cointaner {
  height: 252px;
}

.address-list {
  margin-left: 215px;
}

.footer .cointaner .navigation-logo {
  padding-top: 60px;
  margin-left: 215px;
  display: inline-block;
}

.address-list {
  margin-top: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-item-link1 {
  text-decoration: none;
  color: #ffffff;
}

.address-list-item-link {
  text-decoration: none;
}

/*   END FOOTER    */

/*   PORTFOLIO SECTION 1   */

.sectionp1 .cointaner {
  height: 1548px;
}

.portfoliobutton-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.portfoliobutton-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfoliobutton-list-item-button {
  width: 121px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  /*color: #FFFFFF;*/
}

.pictureboxes {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.portfoliopictures-list-item:not(:last-child) {
  margin-right: 30px;
}

.portfoliopictures-list-item {
  height: 404px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.pic-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.pic-discription {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-left: 24px;
}

/*   END PORTFOLIO SECTION 1    */

/*    HOVER FOCUS    */

.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.contact-list-item-link:hover,
.contact-list-item-link:focus {
  color: var(--main-color);
}

.portfoliobutton-list-item-button:focus,
.portfoliobutton-list-item-button:hover {
  color: #FFFFFF;
  background-color: var(--main-color);


}
/*    END HOVER FOCUS    */
